<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootstrap Visualization Dashboard</title>
        <link rel="shortcut icon" href="data:;" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">       
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    
             
    <body class="grey">
        <nav class="navbar navbar-light" style="background-color: #374257;">
            <div class=images>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        <!-- <img src="pictures/Fig1.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                    Home 
                    </a>
                    <!-- <a class="navbar-brand" href="humidty.html">
                        <img src="pictures/Fig2.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        History
                    </a> -->
                    <a class="navbar-brand" href="/purpose">
                        <!-- <img src="pictures/Fig4.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                        Our purpose
                    </a>
                    <a class="navbar-brand" href="/quiz">
                        <!-- <img src="pictures/Fig3.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                        Take a Quiz
                    </a>
                </nav>
            </div>
         </nav>
         <div> 
            <h1 class="center">Mental Health Importance</h1>
        </div>  
        <div class= "container">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <br>
                    <p>Many different attributes make up an individual; our personalities are a big part of who we are. Each of us has a specific personality that is shaped by our internal and external interactions. Psychological disorders can affect these three qualities: personality, motivation, and attitude. Mental illness has a significant impact on the U.S. population and economy. According to the National Alliance on Mental Illness, one in five U.S. adults experienced mental illness in 2020, but less than half (46.2%) received treatment. Additionally, serious mental illness causes $193.2 billion in lost earnings each year in the U.S.1 Early detection of mental illness could help prevent a serious condition from developing, increase treatment rates, and reduce lost earnings.
                        Therefore, it is important for people with mental illnesses to recognize it and get the right treatment for it. In the United States and anywhere in the world, current standards for classification and diagnosis are gathered in the Diagnostical and Statistical Manual of Mental Disoirders, fifth edition (DSM-5), published in May 2013. By early detection of mental illnesses people can prevent the serious outcome of it, including the impact it has on their personal, social and occupational life. 
                    </p>
                    
                        
                </div>
                <div class="col-md-6">
                    <br>
                    <br>
                    <img src="/brain_science.png" width = "400" height="390">
                </div>

            </div>
        </div>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
 
    </body>
</html> 
        