<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Machines for Mental Health</title>

        <link rel="shortcut icon" href="data:;" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">       
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    
             
    <body class="grey">
        <nav class="navbar navbar-light" style="background-color: #374257;">
            <div class=images>
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        
                    Home 
                    </a>
                    
                    <a class="navbar-brand" href="/purpose">
                        
                        Our purpose
                    </a>
                    <a class="navbar-brand" href="/quiz">
                        
                        Take a Quiz
                    </a>
                </nav>
            </div>
         </nav>
         <div> 
            <h1 class="center">Mental Health Importance</h1>
        </div>  
        <div class= "container">
            <div class="row">
                <h1> Please answer all of the questions below in order to get accurate result:</h1>
                <div class="col-md-12">
                    <br>
                    <br>
                    <p>
                        <form method = "POST" action="/model">
                            <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);"> Please select your country:</p>
                                <input type="radio" id="USA" name="country" value="1">
                                <label for="USA">USA</label><br>
                                <input type="radio" id="Others" name="country" value="0">
                                <label for="Others">Others</label><br>
                                <br>
                                <br>
                                <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);"> Are you self employed?</p>
                                <input type="radio" id="Yes" name="employment" value="1">
                                <label for="Yes">Yes</label><br>
                                <input type="radio" id="No" name="employment" value="0">
                                <label for="No">No</label><br>
                                <br>
                                <br>
                                <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);">Do you have any family history of mental illnesses?</p>
                                <input type="radio" id="Yes" name="history" value="1">
                                <label for="Yes">Yes</label><br>
                                <input type="radio" id="No" name="history" value="0">
                                <label for="No">No</label><br>
                                <br>
                                <br>
                                <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);">Does your job let you work remotely?</p>
                                <input type="radio" id="Yes" name="remote" value="1">
                                <label for="Yes">Yes</label><br>
                                <input type="radio" id="No" name="remote" value="0">
                                <label for="No">No</label><br>
                                <br>
                                <br>
                                <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);">Do you work for a tech company?</p>
                                <input type="radio" id="Yes" name="tech" value="1">
                                <label for="Yes">Yes</label><br>
                                <input type="radio" id="No" name="tech" value="0">
                                <label for="No">No</label><br>
                                <br>
                                <br>
                                <p style="padding: 10px; border: 2px solid rgb(40, 39, 83);">What gender do you identify yourself with?</p>
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female">Female</label><br>
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male">Male</label><br>
                                <input type="radio" id="others" name="gender" value="others">
                                <label for="ohers">Others</label><br>
                                <br>
                                <br>

                                <label style="padding: 10px; border: 2px solid rgb(40, 39, 83);" for="age">How old are you?</label>
                                <input type="number" id = "age" name = "age">
                                </select> 
                                <input type = "submit" value ="submit">
                        </form>
                        
                            
                    </p>
                    <div class="response">
                        {% if prediction %} 
                            <div class="prediction">
                            <b>Recommendation for seeking treatment: {{prediction}}</b><br>
                            This site is meant for informational purposes only. If you feel the need for treatment, regardless of the above result, you should seek it.
                            </div>
                        {% endif %}
                    
                    </div><br><br><br>

                            
                    
                        

            </div>
        </div>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
 
    </body>
</html> 
